<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ludere.jaida" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jaida</name>
    <description>
        Jorn's Artificial Intelligence Digital Assistent
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        J.P. Witteveen
    </author>
	<content src="index.html" />
    <access origin="*" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
</widget>
