<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ludere.broadcast" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Jaida</name>
    <description>
        Jorn's Artificial Intelligence Digital Assistant
    </description>
    <author email="connect@jpwitteveen.com" href="http://www.jpwitteveen.com/">
        J.P. Witteveen
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" />
</widget>